.navbar {
  height: 100px;

  .wrapper {
    margin-left: 21vw;
    margin-right: 50px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    span {
      font-weight: bold;
    }

    .social {
      display: flex;
      gap: 20px;

      img {
        width: 18px;
        height: 18px;
      }
    }
  }
}
